# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: Erengun
          template: markdown
          filename: metrics.md
          base: ""
          base_skip: yes
          config_timezone: Europe/Istanbul
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_types: commit, pull_request, issue
          plugin_notable_repositories: yes

      - name: Inject metrics into README
        run: |
          sed -i '//,//{//!d}' README.md
          sed -i '//r metrics.md' README.md